<style>
    * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 1080px;
    font-size: 36px;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}
a{
    width: 500px;
}
div {
     background-color: lime;
}

p {
    background-color: gold;
}

span {
    background-color: tomato;
}
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>MaxiDent - Usługi Stomatologiczne</title>
    <link rel="icon" type="image/x-icon" href="./logo/favicon.png">
</head>

<body></body>
<nav class="navbar">

    <a href="index.html"><img class="logo" src="./logo/logo.png" alt="logo"></a>
    <div class="dropdown">
        <a href="#">Usługi</a>
        <ul>
            <li><a href="#">Ortodoncja</a></li>
            <li><a href="#">Protetyka</a></li>
            <li><a href="#">Chirurgia Dentystyczna</a></li>
            <li><a href="#">Stomatologia Zachowawcza</a></li>
        </ul>
    </div>
    <a href="#">Cennik</a>
    <a href="#">Kontakt</a>

    <div class="dropdown">
        <a href="#">Wizyta</a>
        <ul>
            <li><a href="#">Umów się</a></li>
            <li><a href="#">Zmień termin</a></li>
            <li><a href="#">Odwołaj wizytę</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <a class="logowanie" href="#"><img class="logowanie" src="/img/logowanie.png"></a>
        <ul>
            <li><a href="#">Zaloguj się</a></li>
            <li><a href="#">Zarejestruj się</a></li>
            <li><a href="#">Konto</a></li>
        </ul>
    </div>

</nav>
<main>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <!-- <img class="dent" src="./img/dentist-2530990_960_720.jpg" alt="Zdjęcie dentysty"> -->
    <div class="text">
        <p>Witamy serdecznie na stronie naszego Gabinetu!</p>
    </div>
</main>

</body>
