{% extends 'base.html' %}

{% block content %}
<h1>Cennik zabiegów</h1>
<div class="row">
    {% for zabieg in Zabiegi %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{zabieg.zdjecie}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{zabieg.nazwa}}</h5>
                <p class="card-text"> {{zabieg.cena}}zł </p>
                <p class="card-text"> {{zabieg.czas_trwania}}h </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}